body {
  margin: 0;
  }

/****************   Nav Section **********************/
nav {
	background-color: lightgray;
    padding: 5px;    
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

/***********************  Footer Section   **************************/
footer {
	 background-color: lightgray;
    padding: 10px;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    margin: 0;
}

/*********** Splash Page ************************/
header {
  background-color: #c9cee5;
  margin: 0;
  border-top: 1px solid black;  
}

header h1 {
      font-family: "Rubik", sans-serif;
    color: #324b4a;
    margin: 10px;
}

header img {
   border: 5px solid black;    
    border-radius: 20px;    
    margin: 10px;
}

.address {
   border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;    
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.tagline {
   padding: 10px;    
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #c9cee5;
}

/************* Sections ********************/
hr {
  margin: 0;
}

section h3 {
  font-family: "Rubik", sans-serif;
  color: #324b4a;
  margin: 10px;
}

section dl {
  display: grid;
  margin: 10px;
}

section ul {
  list-style: square;
  margin: 10px;
}

section a {
  color: darkslateblue;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 25px;
  margin: 10px;
  justify-self: center;
  width: 90%;
}

.card img {
  border-radius: 30px;
  width: 20rem;
  height: 20rem;  
  align-self: center;  
}

.card {  
  box-shadow: 10px 8px 8px 0 #324b4a;
  display: flex;
  flex-direction: column;
  background-color: #9398ad;
  border-radius: 20px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      background-color: lightgray;
    padding: 5px;    
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px; 
    margin: 0;
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
      gap: 25px;
      margin: 10px;
      justify-self: center;
      width: 90%;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: grid;  
  grid-template-columns: 1fr;
}

input {
  width: 20%;
  height: 20px;
  margin: 0 5px;
}

textarea {
   width: 30%;
   height: 50px;
   margin: 0 5px;
}